<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthenticateLogin</servlet-name>
        <servlet-class>com.app.controller.AuthenticateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManualDeletion</servlet-name>
        <servlet-class>com.app.controller.ManualDeletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainFileUpload</servlet-name>
        <servlet-class>com.app.controller.MainFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BootStrap</servlet-name>
        <servlet-class>com.app.controller.BootStrap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpdate</servlet-name>
        <servlet-class>com.app.controller.FileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonAuthenticate</servlet-name>
        <servlet-class>com.app.json.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonBootstrap</servlet-name>
        <servlet-class>com.app.json.BootStrap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopKReport</servlet-name>
        <servlet-class>com.app.controller.TopKReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKMostUsedApps</servlet-name>
        <servlet-class>com.app.json.TopKMostUsedApps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKMostUsedStudents</servlet-name>
        <servlet-class>com.app.json.TopKMostUsedStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasicAppUsageReportByAppCategory</servlet-name>
        <servlet-class>com.app.controller.BasicAppUsageReportByAppCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasicAppReport</servlet-name>
        <servlet-class>com.app.controller.BasicAppReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonDeleteLocation</servlet-name>
        <servlet-class>com.app.json.ManualDeletionJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonFileUpdate</servlet-name>
        <servlet-class>com.app.json.FileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmartphoneOveruseReport</servlet-name>
        <servlet-class>com.app.controller.SmartphoneOveruseReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsageHeatmap</servlet-name>
        <servlet-class>com.app.controller.UsageHeatmap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonSmartphoneOveruseReport</servlet-name>
        <servlet-class>com.app.json.smartphoneOveruseReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonUsageHeatmap</servlet-name>
        <servlet-class>com.app.json.smartphoneUsageHeatmap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SocialReport</servlet-name>
        <servlet-class>com.app.controller.SocialActivenessReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsonTopKMostUsedSchools</servlet-name>
        <servlet-class>com.app.json.TopKMostUsedSchools</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsonLocationUpload</servlet-name>
        <servlet-class>com.app.json.LocationUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticateLogin</servlet-name>
        <url-pattern>/AuthenticateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManualDeletion</servlet-name>
        <url-pattern>/ManualDeletion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainFileUpload</servlet-name>
        <url-pattern>/MainFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BootStrap</servlet-name>
        <url-pattern>/BootStrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpdate</servlet-name>
        <url-pattern>/FileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonAuthenticate</servlet-name>
        <url-pattern>/json/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonBootstrap</servlet-name>
        <url-pattern>/json/bootstrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonFileUpdate</servlet-name>
        <url-pattern>/json/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopKReport</servlet-name>
        <url-pattern>/TopKReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKMostUsedApps</servlet-name>
        <url-pattern>/json/top-k-most-used-apps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKMostUsedStudents</servlet-name>
        <url-pattern>/json/top-k-most-used-students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasicAppUsageReportByAppCategory</servlet-name>
        <url-pattern>/BasicAppUsageReportByAppCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasicAppReport</servlet-name>
        <url-pattern>/BasicAppReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmartphoneOveruseReport</servlet-name>
        <url-pattern>/SmartphoneOveruseReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsageHeatmap</servlet-name>
        <url-pattern>/UsageHeatmap</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JsonBAURusetime</servlet-name>
        <servlet-class>com.app.json.BAURusetime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonBAURusetime</servlet-name>
        <url-pattern>/json/BAURusetime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonSmartphoneOveruseReport</servlet-name>
        <url-pattern>/json/overuse-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonUsageHeatmap</servlet-name>
        <url-pattern>/json/usage-heatmap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SocialReport</servlet-name>
        <url-pattern>/SocialActivenessReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonDeleteLocation</servlet-name>
        <url-pattern>/json/location-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsonTopKMostUsedSchools</servlet-name>
        <url-pattern>/json/top-k-most-used-schools</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsonLocationUpload</servlet-name>
        <url-pattern>/json/location-upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.ClassNotFoundException</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
